@keyframes Header {
    0% {
      transform: translateY(-200px);
      border-bottom: none;
      opacity: 0;
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes Colunas {
    0% {
      opacity: 0;
    }
    40% {
        opacity: 0;
      }
    100% {
      opacity: 1;
    }
  }