@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600;700&display=swap');

body {
  background: linear-gradient(#00003f, #2a2a9b);
  height: 100vh;
  font-family: Quicksand;
  font-size: 16px;
  text-align: center;
}

.linhasimples{
    align-content: center;
    height: 1px;
    width: 700px;
    background-color: rgb(206, 197, 254);
    margin: 0 auto;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    font-family: Quicksand;
    color: rgb(252, 248, 248);
    
}

input{
    border-radius: 5px;
    margin: 5px;
    font-family: Quicksand;
    color: #060606;
    font-weight: bold;
    
}

label {
  width: 160;
  border-radius: 5px;
  margin: 5px;
  font-family: Quicksand;
  font-size: medium;
}

button{
    width: 130px;
    height: 32px;
    border-radius: 5px;
    margin: 5px;
    background-color: #008cff;
    font-family: "Quicksand";
    color:  white;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid #7569fa;
    box-shadow: #0a0915 0px 0px 12px 1px inset,
                #18125a 0px 0px 12px 1px;
    border-radius: 15px;
    cursor: pointer;

}
button:hover{
    opacity: 0.8;
}
h3{
    font-family: 'Quicksand', sans-serif;
    color: #07D7FF; 
    letter-spacing: 5px;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  color: #07d7ff;
  letter-spacing: 5px;
}

h5 {
  font-family: 'Quicksand', sans-serif;
  color: white;
  letter-spacing: 3px;
}

img {
    width: 250px;
}
