@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body{
    background-color: #00003F;
    color: #07D7FF;
    padding-block: 2vh;
}

h1{
    font-size: 6vh;
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
    text-align: right;
    line-height: 59px;
    padding: 0 64px;
    margin: 0;
}

.focustime{
    margin-top: 50px;
    display: grid;
    justify-items: center;
    grid-row-gap: 23px;
    width: 100%;
    padding-top: 25px;
}

.blue{
    font-weight: 900;
    color: #008CFF;
    text-shadow: 0 0 50px #7ac3ff;
}

.time{
    font-family: sans-serif,
monospace;
    font-weight: 300;
    font-size: 6vh;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    width: 35vh;
    height: 35vh;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-family: sans-serif;
    margin-block: 6vh;
}

.controls{
    display: flex;
    justify-content: center;
    width: 178px;

}

button{
    background: transparent;
    padding: 0;
    border: none;
    margin: 0;
    font-size: 6vh;
    color: #07D7FF;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:active{
    transform: scale(0.90);
}

button:hover{
    color: #008CFF;
}

.play{
    display: block;
}

.pause{
    display: none;
}

.back-button {
    font-size: 3vh; 
}
